
A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#featureContainer {
	BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; MARGIN: 0px auto; WIDTH: 950px; FONT-SIZE: 80%; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}
#wrap {
	OVERFLOW: hidden
}
#load {
	BACKGROUND-IMAGE: url(images/loader32x32.gif); BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; MARGIN: 0px auto; WIDTH: 923px; DISPLAY: none; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; HEIGHT: 100px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}
#feature {
	BORDER-BOTTOM: #999 0px dotted; POSITION: relative; BORDER-LEFT: #999 0px dotted; MARGIN-TOP: 5px; MARGIN-BOTTOM: 10px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}
#feature .button {
	BORDER-BOTTOM: #999 0px dotted; POSITION: absolute; BORDER-LEFT: #999 0px dotted; WIDTH: 840px; BORDER-TOP: #999 0px dotted; TOP: 72px; BORDER-RIGHT: #999 0px dotted; LEFT: 0px
}
#feature .prev {
	BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; WIDTH: 14px; DISPLAY: block; position:relative; BACKGROUND: url(../images/feature_left.gif) center top; FLOAT: left; HEIGHT: 22px; BORDER-TOP: #999 0px dotted; TOP: -125px; BORDER-RIGHT: #999 0px dotted
}
#feature .next {
	BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; WIDTH:14px; DISPLAY: block; position:relative; BACKGROUND: url(../images/feature_right.gif) center top; FLOAT: right; HEIGHT: 22px; BORDER-TOP: #999 0px dotted; TOP: -125px; BORDER-RIGHT: #999 0px dotted
}
#feature .prev:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .next:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL {
	BORDER-BOTTOM: #000 0px dotted; POSITION: relative; BORDER-LEFT: #000 0px dotted; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2800px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #000 0px dotted; BORDER-RIGHT: #000 0px dotted; PADDING-TOP: 0px; LEFT: 0px
}
.featureBox {
	  WIDTH: 265px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 176px; OVERFLOW: hidden; margin-right: 18px; background:#f2eeeb; border:1px solid #d3d1c5; padding:5px;
}
#botton-scroll {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; MARGIN: 0px auto; WIDTH: 855px; FLOAT: left; HEIGHT: 200px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}
#block {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; POSITION: relative; BORDER-LEFT: #999 0px dotted; PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 870px; PADDING-RIGHT: 0px; HEIGHT: 180px; FONT-SIZE: 70%; OVERFLOW: hidden; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted; PADDING-TOP: 0px
}
#block .box {
	WIDTH: 265px; HEIGHT: 176px; background:#fff; text-align:center; display:block;vertical-align:middle;display: table-cell;*display: block;
}
.box a img{ vertical-align:middle;text-align:center;*+font-size:175px;}

/*3系*/
#feature .button2 {
	BORDER-BOTTOM: #999 0px dotted; POSITION: absolute; BORDER-LEFT: #999 0px dotted; WIDTH: 840px; BORDER-TOP: #999 0px dotted; TOP: 72px; BORDER-RIGHT: #999 0px dotted; LEFT: 0px
}
#feature .prev2 {
	BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; WIDTH: 14px; DISPLAY: block; position:relative; BACKGROUND: url(../images/feature_left.gif) center top; FLOAT: left; HEIGHT: 22px; BORDER-TOP: #999 0px dotted; TOP: -125px; BORDER-RIGHT: #999 0px dotted
}
#feature .next2 {
	BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; TEXT-INDENT: -9999px; WIDTH:14px; DISPLAY: block; position:relative; BACKGROUND: url(../images/feature_right.gif) center top; FLOAT: right; HEIGHT: 22px; BORDER-TOP: #999 0px dotted; TOP: -125px; BORDER-RIGHT: #999 0px dotted
}
#feature .prev2:hover {
	BACKGROUND-POSITION: center bottom
}
#feature .next2:hover {
	BACKGROUND-POSITION: center bottom
}
.featureUL2 {
	BORDER-BOTTOM: #000 0px dotted; POSITION: relative; BORDER-LEFT: #000 0px dotted; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 2800px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #000 0px dotted; BORDER-RIGHT: #000 0px dotted; PADDING-TOP: 0px; LEFT: 0px
}
.featureBox {
	  WIDTH: 265px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 176px; OVERFLOW: hidden; margin-right: 18px; background:#f2eeeb; border:1px solid #d3d1c5; padding:5px;
}
#botton-scroll2 {
	Z-INDEX: 0; BORDER-BOTTOM: #999 0px dotted; BORDER-LEFT: #999 0px dotted; MARGIN: 0px auto; WIDTH: 855px; FLOAT: left; HEIGHT: 200px; BORDER-TOP: #999 0px dotted; BORDER-RIGHT: #999 0px dotted
}

#block .box2 {
	WIDTH: 265px; HEIGHT: 176px; background:#fff; text-align:center; display:block;vertical-align:middle;display: table-cell;*display: block;
}
.box2 a img{ vertical-align:middle;text-align:center;*+font-size:175px;}





/*产品展示效果*/
.HS10, .HS15{overflow:hidden;clear:both;}
.HS10{height:10px;}
.HS15{height:15px;}
.Hidden{display:none;}
.Clearer{display:block;clear:both;font-size:1px;line-height:1px;margin:0;padding:0;}
.FlLeft{float:right;}
.FlRight{float:left;}
/*幻灯片区域背景*/
.MainBg{width:980px;margin:0 auto; overflow:hidden;}
/*灰色分隔线*/
.SpaceLine{border-bottom:1px solid #d0d0d0;height:1px;font-size:1px;}
/*大图展示区域*/
.OriginalPicBorder{padding:15px 32px 0 24px;}
#OriginalPic{width:930px;overflow:hidden;position:relative;font-size:12px;}
#OriginalPic img{display:block;margin:0 auto;max-width:100%;-webkit-touch-callout:none;}
/*鼠标手势*/
.CursorL{position:absolute;z-index:999;width:50%;height:500px;color:#FFF;left:0px;cursor:url(images/CurL.cur), auto;background:url(images/space.png) repeat scroll 0 0 transparent; cursor:pointer;}
.CursorR{position:absolute;z-index:999;width:50%;height:500px;color:#FFF;right:240px;cursor:url(images/CurR.cur), auto;background:url(images/space.png) repeat scroll 0 0 transparent;cursor:pointer;}
/*小图预览和滑动*/
.SliderPicBorder{width:676px;overflow:hidden; background:#f4f1ec; border:1px solid #d1d1d1; padding:10px;}
.SliderPicBorder2{width:900px; margin:0 auto;overflow:hidden; background:#f4f1ec; border:1px solid #d1d1d1; padding:10px;}

.Summary{ width:214px;margin-left:18px;}
.Summary strong{ line-height:24px; font-size:16px;}
.More{text-align:right;color:#666;line-height:47px;height:47px;font-size:12px;display:block;}        
.ThumbPicBorder {width:940px;margin:0 auto;}
#ThumbPic img{border:1px solid #d0d0d0;cursor:pointer;background-color:#f4f1ec;margin:0 9px;width:104px;height:72px;display:block;}
#ThumbPic img.active{border:1px solid #FF9900;}
.bm_tp{ width:132px; height:36px; text-align:center; font-size:14px; color:#fff; font-size:14px; cursor:pointer; margin-bottom:16px; background:url(../images/tck_an2.jpg); border:none; line-height:36px; margin-top:62px; display:block;}
.wb_fx{ width:214px; margin:0 auto; margin-top:36px; margin-left:6px;}
.bm_nr{line-height:20px;display:block;width:192px;color:#060606;overflow:hidden;background-color:#fff; height:100%; padding:10px; border:1px solid #e8e8e8; line-height:20px; margin-bottom:14px;}
.bm_wz{ display:block; height:auto; line-height:24px;  color:#060606; padding-top:10px;background-color:#f8f7f5; padding:5px;}
.bm_wz2{ display:block; height:auto; line-height:24px;  color:#060606; padding-top:10px;background-color:#fff; padding:5px;}




/*弹出框*/
.mydiv {
z-index:999;
left:40%;
top:40%;
margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/* FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
    border-radius: 3px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);background-clip:padding-box;outline:0;-moz-border-radius:10px;
-webkit-border-radius:10px; 
}
.mydiv2 {
z-index:999;
left:40%;
top:40%;
margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/* FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
.mydiv3 {
z-index:999;
left:40%;
top:40%;
margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/* FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.bg,.popIframe {
background-color: #666; display:none;
width: 100%;
height: 100%;
left:0;
top:0;/*FF IE7*/
filter:alpha(opacity=50);/*IE*/
opacity:0.5;/*FF*/
z-index:1;
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}
.popIframe {
filter:alpha(opacity=0);/*IE*/
opacity:0;/*FF*/
}




/*视频切换效果*/
.index_mov_list a:hover img,.top_list a:hover img {
	border-color:#8c4600;
}


.pgmiddle {
	color:#fff;
	margin-bottom:8px;
}
.pages a,.pages em,.pages span,.more,.submit,.face_bat {
	background:#448000;
	border-radius:2px 2px 2px 2px;
	color:#fff;
	font-size:12px;
	line-height:12px;
	padding:2px 3px;
}
.pages a:hover,.pages span,.more:hover,#msg a:hover {
	background:#8c4600;
	color:#fff;
}
#example {
	background:url(images/slidesbg.png) no-repeat -49px 0;
	height:330px;
	margin:0 auto;
	position:relative;
	width:400px;
}
#ribbon_1,#ribbon_2 {
	background:url(../images/main.png) repeat  -140px -50px;
	height:90px;
	left:auto;
	position:absolute;
	right:22px;
	top:17px;
	width:93px;
	z-index:3;
}
#ribbon_2 {
	background:url(../images/main.png) no-repeat  -140px 0;
	height:33px;
	top:297px;
	width:120px;
}
#slides {
	height:100%;
	overflow:hidden;
	position:relative;
}
#next,#prev {
	background:url(../images/main.png) no-repeat  -140px -150px;
	cursor:pointer;
	display:block;
	height:57px;
	left:3px;
	position:absolute;
	top:157px;
	width:22px;
	z-index:2;
}
#next {
	background-position:-162px -150px;
	left:977px;
}
#next:hover {
	background-position:-212px -150px;
}
#prev:hover {
	background-position:-190px -150px;
}
#slides .scroimg {
	background:url("images/loading.gif") no-repeat  center center;
	height:330px;
	left:400px;
	margin:0;
	position:absolute;
	width:400px;
	top:20px;
	color:#000;
}
.scroimg h2{ line-height:24px; padding-bottom:10px; font-size:20px;}
.scrotext {
	top:0px;
	height:20px;
	left:0;
	padding:0 150px 0 20px;
	position:absolute;
	width:780px;
	z-index:1;
}
.scrotext a {
	color:#87ff00;
	font-size:16px;
	line-height:25px;
}
.scrotext a:hover {
	color:#fff;
}
.scrotext p {
	line-height:20px;
	margin:0;
}
#pagination {
	height:12px;
	left:50%;
	margin-left:-45px;
	overflow:hidden;
	position:absolute;
	text-align:center;
	top:287px;
	width:100px;
	z-index:5;
}
#pagination span {
	background:url(../images/main.png) no-repeat  -250px -50px;
	cursor:pointer;
	float:left;
	font-size:0;
	line-height:0;
	margin:0 3px;
	overflow:hidden;
	padding:6px;
}
#pagination span.current {
	background-position:-250px -62px;
}
